{
"id2":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[34,31]},
"uhf":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[34,31],"module":"r2k"},
"print":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[85,0]},
"psam":{"serialPort":"/dev/ttyS1","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[181],"resetGpio":180},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
