{
"id2":{"serialPort":"/dev/ttyXRM1","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[85,145]},
"uhf":{"serialPort":"/dev/ttyHSL2","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[0],"module":"r2k"},
"print":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[85,0]},
"psam":{"serialPort":"/dev/ttyHSL1","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[0],"resetGpio":23},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
