{
"id2":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_SC","gpio":[25]},
"uhf":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"EXPAND","gpio":[9,14],"module":"uqm"},
"print":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_SC","gpio":[85,0]},
"psam":{"serialPort":"/dev/ttyS1","braut":115200,"powerType":"NEW_MAIN_SC","gpio":[16,46],"resetGpio":23},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
