{
"id2":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[25]},
"uhf":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[9,14],"module":"r2k"},
"print":{"serialPort":"/dev/ttyS0","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[85,0]},
"psam":{"serialPort":"/dev/ttyS1","braut":115200,"powerType":"NEW_MAIN_FG","gpio":[16,46],"resetGpio":23},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
